.corgi-banner{
  max-width: 100%;
  height: auto;
}

h1 {
  margin-left: 500px !important;
  margin-right: 0px !important;
  display: inline-block;
  color: white;
}

h2 {
  margin-left: 150px !important;
  color: #FFE19C;
  display: inline-block;
}

h3 {
  margin-left: 550px !important;
  color: white;
  display: inline-block;
}

ul{
  background-color: #DB9D47
}

.container-fluid{
  background-color: #FF784F;
}

#doglink{
  margin-left: 550px !important;
  font-size: 20px;
  display: inline-block;
}

#corgipic{
  border: 10px solid #FFE19C;
  border-bottom-width: 10px !important;
  border-top-width: 10px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

#dogpound{
  background-color: #DB9D47;
}

#button1{
  display: inline-block;
  margin: 0 auto;
  padding-top: 10px !important;
  margin-right: 420px !important;
}

#button2{
  display: inline-block;
  margin: 0 auto;
  padding-top: 10px !important;
}
